#main .ui-grid-lmsc .ui-link .box-img{ padding:20px 0; border-radius: 200px;}
#main .tab-content-fenlei .ui-grid-header a{padding:10px; width:55px; height:55px; }
#footer a img{ width:30px; height:30px;}
